@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

#logo{
    display: inline-block;
    width: auto; 
    height: 80px; 
    margin-top: -20px; 
    margin-left: 40px; 
    border-radius: 0;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 30px; 
    background-color: #ffffff; 
    margin: 0; 
    color: #00A1FC; 
            h1 {
                margin-right: auto;
                font-family: "Aleo";
                font-size: 30px 
                }
            }

.navegacao {
    margin-right: 20px; 
             ul {
                list-style-type: none; 
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center; 
                
                li {
                    margin-right: 20px; 
                        a {
                            display: inline-block;
                            padding: 8px 16px; 
                            border-radius: 20px; 
                            background-color: #00A1FC; 
                            color: #fff; 
                            text-decoration: none; 
                            transition: background-color 0.3s ease; 

                                &:hover {
                                        background-color: #0088CC;
                                        }
                            }
                    }

                }
            }

#perfil {
    display: inline-block;
    width: auto; 
    height: 60px; 
    margin-top: -20px;
    margin-left: 40px; 
    border-radius: 0; 
}

